<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

body{
	width: 100%;	
}

h1{ 
	color: #302624;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;	
	letter-spacing: 0.15em;
	font-weight: 600;
	line-height: 50%;
}

h2{
	color: #302624;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 50%;
}

.name a{ 
text-decoration: none;
color: #ffffff;
}

.name a:hover{
	opacity: 0.3;
	color: #604c48;
}

ul{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	display: inline;
}

li a{
	color: #483936;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 0px 16px;
	font-size: 1.1em;
	font-weight: 450;
}

li a:hover{
	color: #91726c;
}


#container{
	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 25%;
	left: 0;
	width: 1100px; /*width and height dimensions of paint smear */
	height: 281px;
}

#container img{
	margin-left: 20px;
}
.name{
	z-index: 100;
	text-align: center;
	position: absolute;
	width: 100%;
	margin: auto;
	top: 18%;
	right: 0;
	bottom: 0;
	left: 0;
}

.navigation{
	padding-top: 5px;
	position: relative;
}

.stripes{
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 0;
	border-top: 15px solid  #f8deda;
}
